.gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
}

.galleryMain img {
  border-radius: 12px;
  object-fit: cover;
  width: 200px;
  height: 250px;
}

.thumbs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
