.filters {
  width: 100%;
  position: sticky;
  top: 89px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  padding: 12px 20px;
  border-radius: 12px;
  background: var(--color-primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.leftSide {
  display: flex;
  gap: 12px;
}
