.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.messages {
  min-height: 16px;
}

.error,
.warning {
  font-size: 12px;
  line-height: 1.2;
}

.error {
  color: var(--color-red);
}

.warning {
  color: var(--color-accent-second);
}
