.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transform: translateY(-20%);
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
}
